/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as AgentInsightAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Ingestion {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: string | undefined;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: string | undefined;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Ingestion {
  protected readonly _options: Ingestion.Options;

  constructor(_options: Ingestion.Options) {
    this._options = _options;
  }

  /**
   * **Legacy endpoint for batch ingestion for Langfuse Observability.**
   *
   * -> Please use the OpenTelemetry endpoint (`/api/public/otel/v1/traces`). Learn more: https://agent.goldebridge.com/docs/integrations/opentelemetry
   *
   * Within each batch, there can be multiple events.
   * Each event has a type, an id, a timestamp, metadata and a body.
   * Internally, we refer to this as the "event envelope" as it tells us something about the event but not the trace.
   * We use the event id within this envelope to deduplicate messages to avoid processing the same event twice, i.e. the event id should be unique per request.
   * The event.body.id is the ID of the actual trace and will be used for updates and will be visible within the Langfuse App.
   * I.e. if you want to update a trace, you'd use the same body id, but separate event IDs.
   *
   * Notes:
   * - Introduction to data model: https://agent.goldebridge.com/docs/data-model
   * - Batch sizes are limited to 3.5 MB in total. You need to adjust the number of events per batch accordingly.
   * - The API does not return a 4xx status code for input errors. Instead, it responds with a 207 status code, which includes a list of the encountered errors.
   *
   * @param {AgentInsightAPI.IngestionRequest} request
   * @param {Ingestion.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.ingestion.batch({
   *         batch: [{
   *                 type: "trace-create",
   *                 id: "abcdef-1234-5678-90ab",
   *                 timestamp: "2022-01-01T00:00:00.000Z",
   *                 body: {
   *                     id: "abcdef-1234-5678-90ab",
   *                     timestamp: "2022-01-01T00:00:00.000Z",
   *                     environment: "production",
   *                     name: "My Trace",
   *                     userId: "1234-5678-90ab-cdef",
   *                     input: "My input",
   *                     output: "My output",
   *                     sessionId: "1234-5678-90ab-cdef",
   *                     release: "1.0.0",
   *                     version: "1.0.0",
   *                     metadata: "My metadata",
   *                     tags: ["tag1", "tag2"],
   *                     "public": true
   *                 }
   *             }]
   *     })
   *
   * @example
   *     await client.ingestion.batch({
   *         batch: [{
   *                 type: "span-create",
   *                 id: "abcdef-1234-5678-90ab",
   *                 timestamp: "2022-01-01T00:00:00.000Z",
   *                 body: {
   *                     id: "abcdef-1234-5678-90ab",
   *                     traceId: "1234-5678-90ab-cdef",
   *                     startTime: "2022-01-01T00:00:00.000Z",
   *                     environment: "test"
   *                 }
   *             }]
   *     })
   *
   * @example
   *     await client.ingestion.batch({
   *         batch: [{
   *                 type: "score-create",
   *                 id: "abcdef-1234-5678-90ab",
   *                 timestamp: "2022-01-01T00:00:00.000Z",
   *                 body: {
   *                     id: "abcdef-1234-5678-90ab",
   *                     traceId: "1234-5678-90ab-cdef",
   *                     name: "My Score",
   *                     value: 0.9,
   *                     environment: "default"
   *                 }
   *             }]
   *     })
   */
  public batch(
    request: AgentInsightAPI.IngestionRequest,
    requestOptions?: Ingestion.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.IngestionResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__batch(request, requestOptions),
    );
  }

  private async __batch(
    request: AgentInsightAPI.IngestionRequest,
    requestOptions?: Ingestion.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.IngestionResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/ingestion",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.IngestionResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling POST /api/public/ingestion.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
