/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as AgentInsightAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Comments {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: string | undefined;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: string | undefined;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Comments {
  protected readonly _options: Comments.Options;

  constructor(_options: Comments.Options) {
    this._options = _options;
  }

  /**
   * Create a comment. Comments may be attached to different object types (trace, observation, session, prompt).
   *
   * @param {AgentInsightAPI.CreateCommentRequest} request
   * @param {Comments.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.comments.create({
   *         projectId: "projectId",
   *         objectType: "objectType",
   *         objectId: "objectId",
   *         content: "content",
   *         authorUserId: undefined
   *     })
   */
  public create(
    request: AgentInsightAPI.CreateCommentRequest,
    requestOptions?: Comments.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.CreateCommentResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__create(request, requestOptions),
    );
  }

  private async __create(
    request: AgentInsightAPI.CreateCommentRequest,
    requestOptions?: Comments.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.CreateCommentResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/comments",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.CreateCommentResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling POST /api/public/comments.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get all comments
   *
   * @param {AgentInsightAPI.GetCommentsRequest} request
   * @param {Comments.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.comments.get()
   */
  public get(
    request: AgentInsightAPI.GetCommentsRequest = {},
    requestOptions?: Comments.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.GetCommentsResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__get(request, requestOptions),
    );
  }

  private async __get(
    request: AgentInsightAPI.GetCommentsRequest = {},
    requestOptions?: Comments.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.GetCommentsResponse>> {
    const { page, limit, objectType, objectId, authorUserId } = request;
    const _queryParams: Record<
      string,
      string | string[] | object | object[] | null
    > = {};
    if (page != null) {
      _queryParams["page"] = page.toString();
    }

    if (limit != null) {
      _queryParams["limit"] = limit.toString();
    }

    if (objectType != null) {
      _queryParams["objectType"] = objectType;
    }

    if (objectId != null) {
      _queryParams["objectId"] = objectId;
    }

    if (authorUserId != null) {
      _queryParams["authorUserId"] = authorUserId;
    }

    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/comments",
      ),
      method: "GET",
      headers: _headers,
      queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.GetCommentsResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/comments.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get a comment by id
   *
   * @param {string} commentId - The unique AgentInsight identifier of a comment
   * @param {Comments.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.comments.getById("commentId")
   */
  public getById(
    commentId: string,
    requestOptions?: Comments.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.Comment> {
    return core.HttpResponsePromise.fromPromise(
      this.__getById(commentId, requestOptions),
    );
  }

  private async __getById(
    commentId: string,
    requestOptions?: Comments.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.Comment>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/comments/${encodeURIComponent(commentId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.Comment,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/comments/{commentId}.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
