/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as core from "../../../../core/index.js";
import * as AgentInsightAPI from "../../../index.js";
import {
  mergeHeaders,
  mergeOnlyDefinedHeaders,
} from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace Media {
  export interface Options {
    environment: core.Supplier<string>;
    /** Specify a custom URL to connect the client to. */
    baseUrl?: core.Supplier<string>;
    username?: core.Supplier<string | undefined>;
    password?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: core.Supplier<string | undefined>;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: core.Supplier<string | undefined>;
    /** Additional headers to include in requests. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }

  export interface RequestOptions {
    /** The maximum time to wait for a response in seconds. */
    timeoutInSeconds?: number;
    /** The number of times to retry the request. Defaults to 2. */
    maxRetries?: number;
    /** A hook to abort the request. */
    abortSignal?: AbortSignal;
    /** Override the X-Langfuse-Sdk-Name header */
    xAgentInsightSdkName?: string | undefined;
    /** Override the X-Langfuse-Sdk-Version header */
    xAgentInsightSdkVersion?: string | undefined;
    /** Override the X-Langfuse-Public-Key header */
    xAgentInsightPublicKey?: string | undefined;
    /** Additional query string parameters to include in the request. */
    queryParams?: Record<string, unknown>;
    /** Additional headers to include in the request. */
    headers?: Record<
      string,
      string | core.Supplier<string | null | undefined> | null | undefined
    >;
  }
}

export class Media {
  protected readonly _options: Media.Options;

  constructor(_options: Media.Options) {
    this._options = _options;
  }

  /**
   * Get a media record
   *
   * @param {string} mediaId - The unique AgentInsight identifier of a media record
   * @param {Media.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.media.get("mediaId")
   */
  public get(
    mediaId: string,
    requestOptions?: Media.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.GetMediaResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__get(mediaId, requestOptions),
    );
  }

  private async __get(
    mediaId: string,
    requestOptions?: Media.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.GetMediaResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/media/${encodeURIComponent(mediaId)}`,
      ),
      method: "GET",
      headers: _headers,
      queryParameters: requestOptions?.queryParams,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.GetMediaResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling GET /api/public/media/{mediaId}.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Patch a media record
   *
   * @param {string} mediaId - The unique AgentInsight identifier of a media record
   * @param {AgentInsightAPI.PatchMediaBody} request
   * @param {Media.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.media.patch("mediaId", {
   *         uploadedAt: "2024-01-15T09:30:00Z",
   *         uploadHttpStatus: 1,
   *         uploadHttpError: undefined,
   *         uploadTimeMs: undefined
   *     })
   */
  public patch(
    mediaId: string,
    request: AgentInsightAPI.PatchMediaBody,
    requestOptions?: Media.RequestOptions,
  ): core.HttpResponsePromise<void> {
    return core.HttpResponsePromise.fromPromise(
      this.__patch(mediaId, request, requestOptions),
    );
  }

  private async __patch(
    mediaId: string,
    request: AgentInsightAPI.PatchMediaBody,
    requestOptions?: Media.RequestOptions,
  ): Promise<core.WithRawResponse<void>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        `/api/public/media/${encodeURIComponent(mediaId)}`,
      ),
      method: "PATCH",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return { data: undefined, rawResponse: _response.rawResponse };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling PATCH /api/public/media/{mediaId}.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  /**
   * Get a presigned upload URL for a media record
   *
   * @param {AgentInsightAPI.GetMediaUploadUrlRequest} request
   * @param {Media.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link AgentInsightAPI.Error}
   * @throws {@link AgentInsightAPI.UnauthorizedError}
   * @throws {@link AgentInsightAPI.AccessDeniedError}
   * @throws {@link AgentInsightAPI.MethodNotAllowedError}
   * @throws {@link AgentInsightAPI.NotFoundError}
   *
   * @example
   *     await client.media.getUploadUrl({
   *         traceId: "traceId",
   *         observationId: undefined,
   *         contentType: "image/png",
   *         contentLength: 1,
   *         sha256Hash: "sha256Hash",
   *         field: "field"
   *     })
   */
  public getUploadUrl(
    request: AgentInsightAPI.GetMediaUploadUrlRequest,
    requestOptions?: Media.RequestOptions,
  ): core.HttpResponsePromise<AgentInsightAPI.GetMediaUploadUrlResponse> {
    return core.HttpResponsePromise.fromPromise(
      this.__getUploadUrl(request, requestOptions),
    );
  }

  private async __getUploadUrl(
    request: AgentInsightAPI.GetMediaUploadUrlRequest,
    requestOptions?: Media.RequestOptions,
  ): Promise<core.WithRawResponse<AgentInsightAPI.GetMediaUploadUrlResponse>> {
    let _headers: core.Fetcher.Args["headers"] = mergeHeaders(
      this._options?.headers,
      mergeOnlyDefinedHeaders({
        Authorization: await this._getAuthorizationHeader(),
        "X-Langfuse-Sdk-Name":
          requestOptions?.xAgentInsightSdkName ?? this._options?.xAgentInsightSdkName,
        "X-Langfuse-Sdk-Version":
          requestOptions?.xAgentInsightSdkVersion ??
          this._options?.xAgentInsightSdkVersion,
        "X-Langfuse-Public-Key":
          requestOptions?.xAgentInsightPublicKey ??
          this._options?.xAgentInsightPublicKey,
      }),
      requestOptions?.headers,
    );
    const _response = await core.fetcher({
      url: core.url.join(
        (await core.Supplier.get(this._options.baseUrl)) ??
          (await core.Supplier.get(this._options.environment)),
        "/api/public/media",
      ),
      method: "POST",
      headers: _headers,
      contentType: "application/json",
      queryParameters: requestOptions?.queryParams,
      requestType: "json",
      body: request,
      timeoutMs:
        requestOptions?.timeoutInSeconds != null
          ? requestOptions.timeoutInSeconds * 1000
          : 60000,
      maxRetries: requestOptions?.maxRetries,
      abortSignal: requestOptions?.abortSignal,
    });
    if (_response.ok) {
      return {
        data: _response.body as AgentInsightAPI.GetMediaUploadUrlResponse,
        rawResponse: _response.rawResponse,
      };
    }

    if (_response.error.reason === "status-code") {
      switch (_response.error.statusCode) {
        case 400:
          throw new AgentInsightAPI.Error(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 401:
          throw new AgentInsightAPI.UnauthorizedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 403:
          throw new AgentInsightAPI.AccessDeniedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 405:
          throw new AgentInsightAPI.MethodNotAllowedError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        case 404:
          throw new AgentInsightAPI.NotFoundError(
            _response.error.body as unknown,
            _response.rawResponse,
          );
        default:
          throw new errors.AgentInsightAPIError({
            statusCode: _response.error.statusCode,
            body: _response.error.body,
            rawResponse: _response.rawResponse,
          });
      }
    }

    switch (_response.error.reason) {
      case "non-json":
        throw new errors.AgentInsightAPIError({
          statusCode: _response.error.statusCode,
          body: _response.error.rawBody,
          rawResponse: _response.rawResponse,
        });
      case "timeout":
        throw new errors.AgentInsightAPITimeoutError(
          "Timeout exceeded when calling POST /api/public/media.",
        );
      case "unknown":
        throw new errors.AgentInsightAPIError({
          message: _response.error.errorMessage,
          rawResponse: _response.rawResponse,
        });
    }
  }

  protected async _getAuthorizationHeader(): Promise<string | undefined> {
    const username = await core.Supplier.get(this._options.username);
    const password = await core.Supplier.get(this._options.password);
    if (username != null && password != null) {
      return core.BasicAuth.toAuthorizationHeader({
        username: username,
        password: password,
      });
    }

    return undefined;
  }
}
